# Ambiente da aplicação
APP_ENV=development

# LLM local
LOCAL_LLM_PROVIDER=ollama
LOCAL_LLM_MODEL=qwen3:4b

# API externa
EXTERNAL_AI_ENABLED=false
DEEPSEEK_API_KEY=

# Banco de dados
POSTGRES_DB=ai_enterprise_lab
POSTGRES_USER=ai_lab
POSTGRES_PASSWORD=

# Segurança
APP_SECRET_KEY=

# n8n
N8N_DB_NAME=n8n
N8N_DB_USER=n8n_app
N8N_DB_PASSWORD=
N8N_ENCRYPTION_KEY=

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

# Privacidade
N8N_DIAGNOSTICS_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false